{% extends 'layout.html' %}
{% block extraheaders %}
        <link rel="stylesheet" href="/css/select2.css">
{% endblock %}

{% block content %}
<form id="apiregistration" class="form" method="post" action="">
	{{csrf_token}}
	<h1>Request an API key</h1>
	<p>Before a device is allowed to register its location, the author of the
		application must have an API key that is used to authenticate device
		requests</p>
		<p>To be able to request an API key, you need to provide the following
		information.</p>
		<label for="service">Service</label>
		<input type="hidden" name="service" id="id_service" />
		<br /><label for="description">API description</label><input type="text" name="description" />
		<br /><input type="submit" name="submit" value="Request API key" />
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/js/select2.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	'use strict';
	/* $('.chzn-select').chosen({no_results_text:'Oops, nothing found!'}); */
 	$("#id_service").select2({
            placeholder: "Choose a service...",
            minimumInputLength: 3,
            ajax: {
                url: "{{ajax_url}}",
                cache: true,
                containerCssClass:'service-select',
                dataType: 'json',
                data: function (term, page) {
                    return {
                        q: term, // search term
                        page_limit: 10,
                        page: page,
                        apikey: "{{ajax_key}}"
                    };
                },
                results: function (data, page) {
                    var i, item, rv = {results: data.services};
                    for(i=0; i<data.services.length; ++i){
                    	item = data.services[i];
                    	rv.results[i].text = item.description+' ('+item.protocol.toUpperCase();
		            	if(item.port){
            				rv.results[i].text += ' port '+item.port;
            			}
            			rv.results[i].text += ')';
            			rv.results[i].id = ['_', item.name, '._', item.protocol].join('');
                    }
                    return rv;
                }
            }
        });
});
</script>
{% endblock %}
