{% extends 'layout.html' %}

{% block extraheaders %}
<noscript>
    {% for srv in services %}
    <link rel="stylesheet" href="http://{{srv.address}}:{{srv.port}}/{{srv.path}}/{{srv.uid}}.css" />
    {% endfor %}
</noscript>
{% endblock %}

{% block content %}
<div id="buttons" data-remote-addr="{{remote_addr}}">
    {% for srv in services %}
    <p class="button servicelocation" id="uid{{srv.uid}}" data-address="{{srv.address}}">
        <a data-uid="{{srv.uid}}" href="http://{{srv.address}}:{{srv.port}}/{{srv.path}}"><span class="friendlyname"></span><span class="uid">{{srv.uid}}</span></a>
    </p>
    {% else %}
    <h1>Unable to find any services on your local network</h1>
    {% endfor %}
    <p class="button">
        <a href="{{request_uri}}">Refresh</a>
    </p>
</div>
{% endblock %}

{% block scripts %}
{{ import_script("jquery-1.10.2") }}
<script type="text/javascript">
$(document).ready(function(){
   'use strict';
   var locations = [
        {% for srv in services %}
        {uid:"{{srv.uid}}", href:"http://{{srv.address}}:{{srv.port}}/{{srv.path}}/{{srv.uid}}.json"},
        {% endfor %}
   ];

   function pollLocation(){
       var loc;
       if(locations.length){
            loc = locations.pop();
            $.getJSON(loc.href,function(data, textStatus, jqXHR){
                $('#uid'+loc.uid).css('display','block');
                $('#uid'+loc.uid+' > a').text(data.friendlyName);
            }).always(function(){
                setTimeout(pollLocation,10);
            });
       }
   };

   pollLocation();
});
</script>
{% endblock %}
